<div class="container">
  <div class="nested-fields">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :title %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :title %>
      </div>
      <div class="col-md-3">
        <h5><%= link_to_remove_association "Delete Sub Task", f, class: "btn btn-danger" %></h5>
      </div>
    </div> 
  </div>
</div>