<div class="container">
  <div class="nested-fields">
    <div class="row">
      <div class="control-label col-md-2">
        <%= f.label :title %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :title , class: "form-control" %>
        <span class="remove_subtask"><%= link_to_remove_association "Delete Sub Task", f, class: "btn btn-danger" %></span>
        <br>
      </div>
    </div> 
  </div>
</div>