<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">CaTask</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Client", clients_path  %></li>
        <li><%= link_to "Client Type", client_types_path  %></li>
        <li><%= link_to "Task", tasks_path  %></li>
        <li><%= link_to "Sub Task", sub_tasks_path  %></li>
      </ul>
    </div>
  </div>
</div>